@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Nunito:wght@400;800&family=Port+Lligat+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities { 
    .nav-link:before {
      /* ... */
      @apply content-[""] absolute bottom-0 rounded-full left-0  w-0 h-[2px] bg-teal-400 transition-all duration-300
    }
    .nav-link.btn-active:before{
      @apply w-full
    }
   
    .font-poppins{
        font-family:"Poppins"
    }
    .bg-lightBlue{
      background-color: #25b8ba;
    }
    
    .project-card:before{
      content:'';
      z-index: 2;
      transform: skew(45deg) scaleX(0);
      @apply bg-teal-400/90 absolute w-full h-full z-[2] transition duration-500 [transition-timing-function:cubic-bezier(.175,.885,.32,1.275)]
    }
    .project-card:hover:before{
      transform: skew(0deg) scaleX(1);
    
    }
    .hero-banner:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(13, 22, 37, 0.753);
    }
    #text-effect>path:nth-child(1){
      stroke-dasharray: 301;      
      stroke-dashoffset: 301px;
      animation: text-effect 2.5s ease forwards;
  
      
  }
  #text-effect>path:nth-child(2){
      stroke-dasharray: 193px;
      stroke-dashoffset: 193px;
      animation: text-effect 2.5s ease forwards;
      /* animation: fill 1s ease forwards 2.5s; */
  }

  

  @keyframes text-effect{
    to{
        stroke-dashoffset:0;
    }
}

  }
  .anim-delay-75{
    animation-delay:0.075s;
  }
  .anim-delay-100{
    animation-delay:100ms;
  } .anim-delay-150{
    animation-delay:150ms;
  } .anim-delay-200{
    animation-delay:200ms;
  }
  .anim-delay-300{animation-delay:0.3s}
  .anim-delay-400{
    animation-delay:0.4s;
  } .anim-delay-500{
    animation-delay:0.5s;
  }
  .anim-delay-600{
    animation-delay:0.6s;
  }.anim-delay-800{
    animation-delay:0.8s;
  }
  .anim-delay-900{
    animation-delay:0.9s;
  }
  .anim-delay-700{
    animation-delay:0.7s;
  } .anim-delay-1000{
    animation-delay:1s;
  }
  .anim-delay-1500{
    animation-delay:1.5s;
  }